%div.network-graph
  %h2 Network Graph
  .network-graph-container
    .network-graph-canvas{'data-graph-url' => resource_group_graph_path(klass.resource_group, :json)}
  %p
    %input#network-graph-filter-edges.network-graph-filter{type: 'checkbox'}
    %label{for: 'network-graph-filter-edges'} Show only important edges
  %a.btn-small.toggle-layout Start Layout