%div.network-graph
  %h2 Network Graph from Google Relations
  .network-graph-container
    .network-graph-canvas{'data-graph-url' => resource_group_google_graph_path(klass.resource_group, :json)}
  %p
    %input#network-graph-filter-edges-google.network-graph-filter{type: 'checkbox'}
    %label{for: 'network-graph-filter-edges-google'} Show only important edges
  %small If no graph is showing try dragging the canvas.