%div.network-graph
  %h2 Network Graph for a User
  .network-graph-container
    .network-graph-canvas{'data-graph-url' => resource_graph_path(@resource.id, klass.resource_group.id, :json)}
  %p
    %input#network-graph-filter-edges.network-graph-filter{type: 'checkbox'}
    %label{for: 'network-graph-filter-edges'} Show only important edges
  %small If no graph is showing try dragging the canvas.