%div
  %h2 Network Graph
  .network-graph-container
    .network-graph-canvas{'data-graph-url' => resource_group_graph_path(klass.resource_group, :json)}
  %small If no graph is showing try dragging the canvas.