- flash.each do |name, msg|
  - msg = [msg] if msg.is_a?(String)
  - msg.each do |text|
    %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
      %a.close{"data-dismiss" => "alert"} ×
      = content_tag :div, text, :id => "flash_#{name}"